
{% extends 'base.html' %}
{% block content %}

 <div class="container my-5">
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" 
       style="background-image: url('static/img/li1.jpg');">
    <h1 class="mb-3 h2">About Us</h1>
  </div>

</div>


  <div class="clearfix m-5 "></div>
    <section class="cp-about-section pd-tb60" style="background-color:white">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center cp-about-left m-2">
                        <h1>Our Company</h1>
                        <figure class="cp-about-img mt-5">
                            <img alt="About" class="d-block w-100" src="static/img/l.png" height="450" width="500">
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="cp-about-text m-5">
                        <p>Eventations is Provides in Lahore Pakistan and it is quite capable of all handling any type and size of functions including Weddings, Social Gatherings and Corporate Events. Asian Events caters to all classes of the country and many reputed national, multinational organizations. We look after clients every need and offer best services of Event Management, Event Designing, Event Services, Decorator &amp; Catering Services.</p>
                        <p>At Eventations, your special day holds such importance for us that we settle for nothing but perfect. Creating you lasting memories, more than just moments, we take nothing lightly and dedicate ourselves towards weaving your dreams. Taking inspiration from our clients and working closely with them, we give them confidence from sketches to bringing everything alive. We innovate everything we do from architectural set up, floral arrangements, lighting and every tiny detail to make your event gorgeous and surreal – nothing that’ll be forgotten easy!</p>
                      
                    </div>
                </div>
            </div>
        </div>
     </section>
  </div>



  <div class= "container text-center mt-4">
    <video width="800" height="400"  autoplay muted loop >
      <source  src="static/video/vid3.mp4"  type="video/mp4">
    </video>
    <style>
      video {
        max-width: 100%;
        height: auto;
      }
      </style>
  </div>



  <hr class="featurette-divider m-5">
      


  <div class=" container" id="hanging-icons ">
            
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3 ">
        <i class="fas fa-medal"></i>
      </div>
      <div>
        <h2>Our Goal</h2>
        </h4>Paragraph of text beneath the heading to explain the heading. We'll add onto 
        it with another sentence and probably just keep going until we run out of words.</h4>
        
      </div>
    </div>
</div>

</div>





      
{% endblock %}

